---
layout: default
---

<div class="home">

  <aside>
    <h2 class="page-heading">Posts in <code>{{page.slug}}</code> category</h2>

    <ul class="post-list">
      {% for post in site.posts %}
        {% capture slugifiedCategories%}{{post.categories | join: '-' | slice: 0, page.slug.size }}{% endcapture %}
        {% if slugifiedCategories == page.slug %}
          <li>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>

            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
