---
layout: post
---
{{ content }}

{% assign TAGS = page.tags %}
{% for tag in page.tags %}
  {% for mytag in site.my_tags %}
    {% assign mytagSlug = mytag.relative_path | remove_first: '_my_tags/' | remove_first: '.md' %}
    {% if mytagSlug == tag %}
      {% assign TAGS = TAGS | shift | push: mytag %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}


{% assign CATEGORIES = page.categories %}
{% assign categoriesSlug = page.categories | join: '/' %}
{% assign counter = 0 %}
{% for mycategory in site.my_categories %}
  {% assign mycategorySlug = mycategory.relative_path | remove_first: '_my_categories/' | remove_first: '/index.md' %}
  {% assign categorySlug = categoriesSlug | slice: 0, mycategorySlug.size %}
  {% if categorySlug == mycategorySlug %}
    {% assign CATEGORIES = CATEGORIES | shift | push: mycategory %}
    {% assign counter = counter | plus: 1 %}
    {% if page.categories.size == counter %}
      {% break %}
    {% endif %}
  {% endif %}
{% endfor %}

<p>
  Tags:
  {% for TAG in TAGS %}
    <code><a href='{{TAG.url}}'>{{ page.tags[forloop.index0] | replace: '-', ' ' | capitalize }}</a></code>
  {% endfor %}
</p>

<p>
  CATEGORY:
  {% for CATEGORY in CATEGORIES %}
    <code><a href='{{CATEGORY.url}}'>{{ page.categories[forloop.index0] | replace: '-', ' ' | capitalize }}</a></code><span>&gt;</span>
  {% endfor %}
</p>
